{% extends 'base.html' %}
{% load static %}


{% block title %}About Me{% endblock title %}

{% block content %}
<h1>Here is Some Info About Me!</h1>
<p>Hello, World! I'm a junior developer embarking on an exciting journey into the world of full-stack development. Currently building my first database and message board, I’m combining foundational skills in web development with a passion for creating interactive and functional applications. From designing the database schema to implementing dynamic front-end features, I’m hands-on every step of the way. My focus is on learning, growing, and mastering technologies like React, Flask, and SQL to bring ideas to life. When I'm not coding, you’ll find me exploring gaming, tinkering with smart tech, or diving into networking basics. Enjoy!</p>
{% endblock content %}