{% extends 'base.html' %}
{% load static %}


{% block title %}Home Page{% endblock title %}

{% block content %}
<h1>Welcome to the Dudeman Database Home Page</h1>
<p>Discover, Explore, and Dominate! From legendary classics to the latest hits, Dudeman is your one-stop hub for everything gaming. Message with others about detailed stats, strategy guides, and insider tips that give you the edge. Whether you're a casual player or a hardcore gamer, you're home now. Let the adventure begin! 🎮✨</p>
{% endblock content %}